name: Ruby
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.allow-failures }}
    strategy:
      matrix:
        ruby: ['3.0', '3.1', '3.2']
        allow-failures: [false]
        include:
          - ruby: head
            allow-failures: true
    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Setup api.onlyoffice.com repo
        run: |
          mkdir ~/sources
          git clone https://github.com/ONLYOFFICE/api.onlyoffice.com.git ~/sources/api.onlyoffice.com
          cd ~/sources/api.onlyoffice.com
          git checkout 7147deb259ebc5148ce3b705ce9b740a068b1464
          cd -
      - name: Build and test with Rake
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3
          bundle exec rspec
      - name: Check `simplecov` line coverage
        run: cat coverage/.last_run.json | jq '.result.line' | grep -q '100'
      - name: Check `simplecov` branch coverage
        run: cat coverage/.last_run.json | jq '.result.branch' | grep -q '100'
      - name: Check source files using `rubocop`
        run: rubocop
      - name: Check that code 100% documented
        run: yardoc . | grep -q '100.00% documented'
